<h1>Meetings</h1>
<h3>Partners</h3>
<ul>
  <% @partners.each do |u|%>
    <li><%=u.username%></li>
  <%end%>
</ul>
<h3>Entrepreneur</h3>
<ul>
  <% @entrepreneur.each do |u|%>
    <li><%=u.username%></li>
  <%end%>
</ul>
